body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
    font-size: 14px;
}

.brush {
    fill: none;
    pointer-events: all;
    cursor: crosshair !important; 
}
